@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
}

.justify-content {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-items {
  align-items: center;
}

.flex-start {
  align-items: flex-start;
}

body {
  --primary-color: #fff;
  --secondary-color: #000;
  --background-color: rgb(241, 241, 241);
  --color-main-button: rgb(243, 83, 15);
  --box-shadow: 0px 5px 30px 0px rgba(130, 148, 173, 0.6);

  background-color: var(--background-color);

  min-height: 100vh;
  padding: 50px 100px 100px 100px;
}

header {
  background-color: var(--background-color);
  max-width: 100%;
  padding: 30px;
  margin-bottom: 40px;

  position: sticky;
  top: 0;
  z-index: 1;
}

button {
  all: unset;
  background-color: var(--color-main-button);
  color: var(--primary-color);
  padding: 7.5px 20px;
  border-radius: 40px;
  transition: 0.1s;
  cursor: pointer;
}

button:hover {
  background-color: rgb(254, 119, 61);
  transition: 0.1s;
}

.switch__container {
  position: relative;
}

.switch--site__container {
  gap: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.switch__site--mode {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch__site--mode input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch__site--mode input:checked + .slider {
  background-color: #2196f3;
}

.switch__site--mode input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch__site--mode input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.select__box,
select {
  width: 500px;
}

select {
  all: unset;

  background-color: var(--primary-color);
  border: 1px solid rgb(195, 195, 195);
  font-size: 12px;

  padding: 10px 10px 10px 20px;
  width: 100%;
  height: 100%;

  border-radius: 30px;
  cursor: pointer;
}

.select__box {
  position: relative;
  margin-bottom: 50px;
}

.select__box::before,
.select__box::after {
  content: "";
  position: absolute;
  top: 50%;
  border-top: 2px solid rgb(201, 201, 201);
  width: 10px;
}

.select__box::before {
  right: 26px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.select__box::after {
  right: 20px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.countries {
  flex-wrap: wrap;
  gap: 100px;
}

.country__container {
  max-width: 400px;
  position: relative;
  flex-direction: column;

  border-radius: 20px;
}

.flag__container {
  position: relative;
}

.flag__container h1 {
  background-color: rgba(44, 44, 44, 0.6);
  color: var(--primary-color);
  border: 4px solid var(--primary-color);

  position: absolute;
  top: 30%;
  padding: 5px 10px;

  font-size: 34px;
  text-align: center;
}

.flag {
  width: 400px;
  height: 300px;
}

.info__container {
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);

  position: absolute;
  top: 80%;

  width: 97%;
  height: 100px;
  padding: 10px 20px;
  border-radius: 10px;

  justify-content: space-between;
  text-align: center;
}

.branco {
  color: #fff;
}

.info__box {
  color: var(--secondary-color);
}

.info__box span {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.info__box p {
  font-size: 10px;
  font-weight: 100;
}

.hidden {
  display: none;
}

.backToTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1;

  opacity: 20%;
  transition: 0.1s;
}

.backToTop:hover {
  opacity: 100%;
  transition: 0.1s;
}

.buttonCard {
  position: absolute;
  top: 107%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.buttonCard a {
  text-decoration: none;
  color: var(--primary-color);
}

.min-resolution {
  display: none;
}

@media (max-width: 500px) {
  body {
    padding: 100px 50px;
  }

  .input__container {
    position: relative;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    height: 100%;
  }

  .select__box,
  select {
    max-width: 100%;
  }

  .country__container {
    max-width: 100%;

    position: relative;
    flex-direction: column;

    border-radius: 20px;
  }
}

@media (max-width: 410px) {
  .flag {
    width: 300px;
    height: 200px;
  }

  .info__container {
    top: 65%;
    flex-direction: column;
    text-align: left;
  }

  .info__box {
    min-width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .buttonCard {
    position: absolute;
    top: 112%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

@media (max-width: 299px) {
  .countries,
  .input__container {
    display: none;
  }

  .min-resolution {
    text-align: center;
    display: block;
  }
}
